<link rel="stylesheet" href="/css/admin-dashboard.css" />
<section class="ml-5 mr-5">
  <h1 class="text-center"><i class="fa-solid fa-gauge"></i> Dashboard</h1>
</section>
<div class="wrapper">
  <section class="employee-section mt-5">
    <h3 class="text-center">
      <i class="fa-solid fa-users"></i> Employee's Section
    </h3>
    <div class="d-flex align-items-center flex-column mt-4">
      <a href="/admin/add-user" class="clickable-card mb-2">
        <div class="card gradient-custom-2 p-5">
          <i class="fa-solid fa-user-plus"></i>
          <br />
          <div class="card-title text-white">Add User</div>
        </div>
      </a>
      <a href="/admin/update-user" class="clickable-card mb-2">
        <div class="card gradient-custom-2 p-5">
          <i class="fa-solid fa-user-pen"></i>
          <br />
          <div class="card-title text-white">Update User</div>
        </div>
      </a>
      <a href="/admin/delete-user" class="clickable-card mb-2">
        <div class="card gradient-custom-2 p-5">
          <i class="fa-solid fa-user-minus"></i>
          <br />
          <div class="card-title text-white">Delete User</div>
        </div>
      </a>
      <a href="/admin/view-user" class="clickable-card mb-2">
        <div class="card gradient-custom-2 p-5">
          <i class="fa-solid fa-user-tie"></i>
          <br />
          <div class="card-title text-white">View User</div>
        </div>
      </a>
    </div>
  </section>

  <section class="pr-section mt-5">
    <h3 class="text-center">
      <i class="fa-solid fa-magnifying-glass"></i> Performance Review Section
    </h3>
    <div class="d-flex align-items-center flex-column mt-4">
      <a href="/admin/add-pr" class="clickable-card mb-2">
        <div class="card gradient-custom-2 p-5">
          <i class="fa-sharp fa-solid fa-plus"></i>
          <br />
          <div class="card-title text-white">Add PR</div>
        </div>
      </a>
      <a href="/admin/update-pr" class="clickable-card mb-2">
        <div class="card gradient-custom-2 p-5">
          <i class="fa-solid fa-pen"></i>
          <br />
          <div class="card-title text-white">Update PR</div>
        </div>
      </a>
      <a href="/admin/view-pr" class="clickable-card mb-2">
        <div class="card gradient-custom-2 p-5">
          <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
          <br />
          <div class="card-title text-white">View PR</div>
        </div>
      </a>
    </div>
  </section>

  <section class="assign-section mt-5">
    <h3 class="text-center">
      <i class="fa-solid fa-plus"></i> Assign Performance Review
    </h3>
    <div class="d-flex align-items-center flex-column mt-4">
      <a href="/admin/assign-pr" class="clickable-card">
        <div class="card gradient-custom-2 p-5">
          <i class="fa-sharp fa-solid fa-plus"></i>
          <br />
          <div class="card-title text-white">Assign PR</div>
        </div>
      </a>
    </div>
  </section>
</div>
