<link rel="stylesheet" href="/css/admin-dashboard.css" />
<section class="ml-5 mr-5">
  <h1 class="text-center"><i class="fa-solid fa-gauge"></i> Employee Dashboard</h1>
</section>
<div class="container d-flex justify-content-center">
    <section class="mt-5">
        <h3 class="text-center">
            <i class="fa-solid fa-users"></i> Submit Feedbacks of employees
        </h3>
        <div class="d-flex align-items-center flex-column mt-4">
            <a href="/employee/add-feedback" class="clickable-card mb-2">
                <div class="card gradient-custom-2 p-5">
                    <i class="fa-solid fa-rectangle-list"></i>
                    <br />
                    <div class="card-title text-white">Add Feedback</div>
                </div>
            </a>
        </div>
    </section>
</div>