<div class="container-fluid">
    <div class="row d-flex justify-content-center mb-3">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="/images/bg-home.svg" alt="Background Home Image">
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center card">
            <div class="h2 text-center">Welcome to Employee Review System</div>
            <p class="lead text-center">An application that allows employees to submit feedback toward each other's performance</p>
        </div>
    </div>
    <div class="row d-flex mb-3 justify-content-center">
        <div class="col-md-4 card d-flex flex-column  justify-content-center align-items-center">
            <div class="h2 text-center">Create and Rate</div>
            <p class="lead text-center">Admins can create employee feedback forms and then employees can rate each other</p>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="/images/employee-performance.png" alt="Background Home Image">
        </div>
    </div>
</div>