<link rel="stylesheet" href="/css/signup.css">
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="/images/logo.jpg"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Sign Up</h4>
                </div>
                <form method="post" action="/user/create">
                  <p>Please Create your account</p>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" required/>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" class="form-control"
                      name="email" placeholder="Email" required/>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" name="password" minlength="8"  class="form-control" placeholder="Password" required/>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" minlength="8" class="form-control" placeholder="Confirm Password" required/>
                  </div>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 mr-2">Already have an account?</p>
                    <a href="/signin" type="button" class="btn btn-outline-success">Sign In</a>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="submit" class=" btn btn-outline-success form-control" value="Sign Up" />
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Employee Review System</h4>
                <p class="small mb-0">It lets you add reviews as an admin and then employees can rate or give feedback towards each other</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 